header {
  display: flex;
  justify-content: space-between;
  background-color: #47555E;
}

.logo {
  display: flex;
  justify-content: space-between;
}

header img {
  max-height: 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  
}

span svg {
  max-width: 20px;
  display: flex;
}

a {

width: 150px;
}

.icon {  
display: flex;
justify-content: space-around;
}

section img {
  max-height: 400px;
}

footer {
  background-color: #47555E;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}