@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kenia&family=Martel:wght@700&family=Montserrat&family=Raleway:wght@300;400;500;600&display=swap");
@import "variable";
//@import "laptop";


body {
  display: flex;
  flex-direction: column;
  
}

header, footer {
  background-color: $accent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  justify-content: space-between;
}

header {
  a{
    display: flex;
    flex-direction: row;
    color:$light;
    padding: 0.5rem;
  }
  a{
    &:hover{
      box-shadow: 2px 2px 4px $light;
    }
  }
nav{
  display: flex;
  flex-direction: row;
  justify-content:end;
}
.icon-content{
  width: 1rem;
}
svg {
  width: 100%;
  justify-content:end;
  fill: $light;
}
}


/* le main du site */
main {
  background-color: blue;
  flex-grow: 1;

  img {
width: 100%;
position: absolute;
    }
    h1{
      font-family: "Dancing Script", cursive;
      font-size: 5rem;
      color: $light;

    }
}

footer {
  a{
    display: flex;
    margin: 10px;
    padding: 10px;
    color: $light;
  }
  a:hover{
    box-shadow: 2px 2px 4px $light;
  }
}
#hamburger {
  border: 2px solid blue;
  display: none;
}





